{% extends 'base.html' %}
{% block title %}主页面{% endblock %}

{% block content %}
		<div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>htjovi的扇贝小作业</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button id="setting" type="button" class="btn btn-lg btn-primary center-block">设置页面</button>
        </div>
        <div class="col-md-6">
          <button id="jidanci" type="button" class="btn btn-lg btn-primary center-block">记单词页面</button>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
<script>
  $("#setting").click(function(){
    window.location.href="/setting";
  });
  $("#jidanci").click(function(){
    window.location.href="/jidanci";
  });
</script>
{% endblock %}